
.label {
  -fx-text-fill: #ffffff;
}

.text-field {
  -fx-min-width: 250;
}

#compareConfigGridPane {
  -fx-padding: 50, 100, 50, 50;
  -fx-hgap: 10;
  -fx-vgap: 10;
}

.label#leftFolderMessage {
  -fx-text-fill: red;
}

.label#rightFolderMessage {
  -fx-text-fill: red;
}